.App header {
  background: #f55a5a;
  color: white;
  font-weight: 300;
  font-size: 28px;
  height: 70px;
  text-align: center;
  padding-top: 10px;
}
.App .earth {
  position: relative;
  top: 10px;
  left: -10px;
}
